# Adapted from https://stackoverflow.com/a/25592735
# Ignoring all binary files (ignoring all files without extensions)
*
!*.*
!*/

# Binary files with extensions
.DS_Store
*~
*.o
*.out
*.a

# Exceptions
!COPYING
!Doxyfile
!LINGUAS

# Directories
build/
docs/html/
.vscode/
